.about-container{
    display: flex;
    flex-direction: column;
}

.about-heading{
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
    font-size: 75px;
    color: #F4CE14;
    font-family: "Markazi Text";
    line-height: 30px;
}

.about-sub-heading{
    padding: 0px;
    margin: 0px;
    font-size: 40px;
    font-family: "Markazi Text";
    color: #495E57;
}

.about-head-text{
    font-family: "Karla";
    font-size: 20px;
    font-weight: 600;
    color: #495E57;
}

.about-head-img{
    width: 380px;
    border-radius: 25px;
    float: right;
    padding: 10px;
}

.about-main{
    background-color: white;
    border-radius: 20px;
    margin: 6% 16%;
}

.about-main-img{
    width: 380px;
    border-radius: 25px;
    float: left;
    padding: 10px;
}

.about-main-text{
    font-family: "Karla";
    font-size: 21px;
    font-weight: 600;
    color: #495E57;
}

.about-main-color{
    color: #495E57;
    font-weight: 600;
}

@media (max-width: 1025px) and (min-width: 642px){
    .about-head-img{
        width: 100%;
        padding: 10px 0px;
    }
    .about-heading{
        font-size: 65px;
        margin-bottom: 0px;
    }
    .about-sub-heading{
        font-size: 30px;
    }
    .about-head-text{
        font-size: 17px;
    }
    .about-main{
        margin: 8% 12%;
    }
    .about-main-img{
        width: 100%;
        padding: 10px 0px;
    }
    .about-main-text{
        font-size: 17px;
    }
}

@media (max-width: 642px){
    .about-head-img{
        width: 100%;
        padding: 10px 0px;
    }
    .about-heading{
        font-size: 55px;
        margin-bottom: 0px;
    }
    .about-sub-heading{
        font-size: 25px;
    }
    .about-head-text{
        font-size: 14px;
    }
    .about-main{
        margin: 8% 5%;
    }
    .about-main-img{
        width: 100%;
        padding: 10px 0px;
    }
    .about-main-text{
        font-size: 14px;
    }
}
