.header{
    background: linear-gradient(
        to bottom,
        #495E57,
        #495E57 80%,
        white 20%,
        white
    );
    height: 400px;
    display: flex;
    justify-content: center;
}

.header-text-container{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    margin-right: 130px;
    width: 320px;
}

.header-h1{
    padding: 0px;
    margin: 0px;
    font-size: 70px;
    color: #F4CE14;
    font-family: "Markazi Text";
    line-height: 30px;
}

.header-h3{
    padding: 0px;
    margin: 0px;
    font-size: 35px;
    color: white;
    font-family: "Markazi Text";
}

.header-text{
    margin-top: 13px;
    color: white;
    font-family: "Karla";
    font-weight: 600;
    font-size: 19px;
}

.header-button{
    width: 205px;
    margin-top: 8px;
    display: flex;
    border-radius: 15px;
    font-size: 21px;
    font-family: "Karla";
    font-weight: 800;
    padding: 10px 23px;
    border: none;
    background-color: #F4CE14;
}

.header-pic{
    margin-top: 30px;
    margin-left: 140px;
    height: 360px;
    width: 340px;
    border-radius: 20px;
    object-position: center;
}

@media (max-width: 642px){
    .header-pic{
        display: none;
    }
    .header{
        height: 160px;
        align-items: center;
        background: none;
        background-color: #495E57;
    }
    .header-h1{
        font-size: 40px;
    }
    .header-h3{
        font-size: 20px;
    }
    .header-text{
        font-size: 12px;
        margin-top: 5px;
    }
    .header-button{
        width: 130px;
        font-size: 14px;
        padding: 4px 10px;
    }
    .header-text-container{
        margin-top: 0px;
        width: 200px;
        margin-right: 0px;
    }
}

@media (max-width: 1025px) and (min-width: 642px){
    .header-pic{
        width: 250px;
        height: 260px;
        margin-top: 25px;
        margin-left: 35px;
    }
    .header-text-container{
        margin-top: 40px;
        width: 300px;
        margin-right: 45px;
    }
    .header-h1{
        font-size: 67px;
    }
    .header-h3{
        font-size: 27px;
    }
    .header-text{
        font-size: 16px;
    }
    .header-button{
        font-size: 17px;
        width: 170px;
        padding: 7px 15px;
    }
    .header{
        height: 300px;
    }
}