.menu-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #495E57;
    padding-left: 180px;
    padding-right: 180px;
}

.menu-appetizers, .menu-main-dish, .menu-desserts{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    border-width: 2px;
    align-items: center;
}

.menu-appetizers{
    margin-top: 30px;
}

.menu-beverages{
    display: flex;
    border-width: 3px;
    flex-direction: column;
    margin-bottom: 100px;
    border-radius: 20px;
    align-items: center;
}

.menu-headings, .menu-headings1{
    color: #F4CE14;
    font-family: "MArkazi Text";
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 0px;
}

.menu-item{
    border: solid;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    border-color: white;
    height: auto;
}

.menu-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    color: #495E57;
    font-family: "Karla";
    font-weight: 700;
    font-size: 27px;
}

.menu-text{
    display: none;
}

.menu-text.on{
    font-size: 18px;
    text-align: start;
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 10px;
    width: 60%;
    font-family: "Karla";
    justify-content: space-between;
    font-weight: 600;
}

.menu-line{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.menu-item:hover{
    cursor: pointer;
}

.menu-item-container{
    display: flex;
    align-items: center;
}

.menu-item-icon{
    width: 40px;
    margin-left: 10px;
}

.menu-price{
    color: #EE9772;
}


@media (max-width: 1025px) and (min-width: 642px){
    .menu-appetizers, .menu-main-dish, .menu-desserts{
        margin-bottom: 25px;
    }
    .menu-beverages{
        margin-bottom: 50px;
    }
    .menu-container{
        padding-left: 80px;
        padding-right: 80px;
    }
    .menu-headings{
        font-size: 65px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .menu-headings1{
        margin-bottom: 5px;
        margin-top: 5px;
        font-size: 55px;
    }
    .menu-item{
        margin-bottom: 0px;
    }
    .menu-item-header{
        font-size: 23px;
    }
    .menu-text.on{
        width: 60%;
        font-size: 16px;
        margin-top: 7px;
    }
    .menu-line{
        margin-bottom: 7px;
    }
    .menu-item-icon{
        width: 35px;
        margin-left: 10px;
    }
}

@media (max-width: 642px){
    .menu-appetizers, .menu-main-dish, .menu-desserts{
        margin-bottom: 20px;
    }
    .menu-container{
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-headings{
        font-size: 50px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .menu-headings1{
        font-size: 30px;
    }
    .menu-item{
        margin-bottom: 0px;
        margin-top: 5px;
        padding: 8px 8px;
    }
    .menu-item-header{
        font-size: 16px;
    }
    .menu-text.on{
        width: 63%;
        font-size: 11px;
        margin-top: 3px;
    }
    .menu-line{
        margin-bottom: 7px;
    }
    .menu-item-icon{
        width: 25px;
        margin-left: 5px;
    }
}

