.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    align-items: center;
    grid-template-rows: 6em;
}

.img{
    width: 200px;
}

.navigation-elements{
    display: grid;
    grid-template-columns: repeat(5,auto);
    font-weight: bold;
    margin-left: 5px;
    font-size: 17px;
}